img{
  max-width: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */
